body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-item {
    background-color: blue;
    color: #000;
    border: 1px solid red;
    text-align: center;

}